name: Demo Workflow

on:
  push:
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello! This is a demo workflow."
        
      - name: Print Event Info
        run: echo "This workflow was triggered by ${{ github.event_name }}"
